.profile {
    width: 100%;
}
.avatar {
    width: 330px;
    height: 300px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar_info {
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.myPosts {
    flex-direction: column;
}
.postBody {
    height: 100px;
}
.posts {
    text-align: center;
}